*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
  font-family: serif;
  padding: 0 16px;
  background-color: rgb(253, 249, 242);
}
html{
   scroll-behavior: smooth;
}
/* header start */
header{
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-bottom: 1px solid  rgb(208, 0, 14) ;
    position: sticky;
    top: 0;
    background-color:rgb(253, 249, 242);
    z-index: 100;
}
.left p{
    font-size: 14px;
    color:  rgb(208, 0, 14);
    cursor: pointer;
}
.right{
    display: flex;
    gap: 28px;
}
.right a{
    color:  rgb(220, 64, 72);
    cursor: pointer;
    text-decoration: none;
    font-size: 19px;
}
.right a:hover{
    text-decoration: underline;
}

/* burger css */
.burger {
    display: none;
  position: fixed;
  top: 10px;
  right: 20px;
  font-size: 32px;
  background: rgb(253, 249, 242);
  color: rgb(220, 64, 72);
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 999;
}

/* მენიუს ფონი */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(212, 212, 211);
  color: rgb(208, 0, 14);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  transition: transform 2s ease;
  z-index: 1000;
}

/* აქტიური როცა ჩექბოქსი ჩართულია */
#menu-toggle:checked ~ .menu {
  transform: translateY(0);
   transition: 1.5s;
   opacity: 0.95;
}

/* დახურვის ღილაკი */
/* დახურვის ღილაკი */
.close {

  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 40px;
  cursor: pointer;
  color: rgb(220, 64, 72);
}

/* მენიუს ლინკები */
.menu-links {
  position: relative;
  bottom: 150px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
}

.menu-links a {
  color: rgb(220, 64, 72);
  text-decoration: none;
  font-size: 24px;
  transition: color 0.2s ease;
}

.menu-links a:hover {
  color: white;
}


@media (max-width: 550px) {
  .burger {
    display: flex;
  }

  .right {
    display: none;
  }
}


.main1{
  text-align: center;
  color:rgb(208, 0, 14) ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  gap: 39px;
  height: 1000px;
  width: 100%;
  
}
.main1 img{
  position: absolute;
}
.main1 h2{
  font-size: 30PX;
}
.main1 p{
  width: 581px;
  font-size: 22px;
  line-height: 30px ;
}
.img1{
  width: 280px;
  height: 373px;
  left: 100px;
  top: 150px;
  
}
.img2{
  width: 160px;
  height:230px;
  right: 380px;
  top: 130px;
}
.img3{
  width:310px;
  height: 280px;
  top: 800px;
  left: 400px;
}
.img4{
  width: 199px;
  height: 298px;
  top: 650px;
  right: 400px;
}

.main2{
  display: flex;
  flex-direction: column;
  gap: 250px;
  color: rgb(208, 0, 14);
  padding: 200px 30px;
}
.kdb{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.kdb p{
  
  width: 1000px;
  font-size: 20px;
  line-height: 30px;
}











footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(208, 0, 14) ;
}
.footerson{
  display: flex;
  flex-direction: column;
  padding: 100px 200px 100px 30px;
}
#foter2{
  display: flex;
  gap: 20px;
}
#foter1 {
  color:  rgb(208, 0, 14);
  text-decoration-line: none;
  cursor: pointer;
  font-size: 20px;
}
#foter2 a{
  color:  rgb(208, 0, 14);
  text-decoration-line: none;
  cursor: pointer;
  font-size: 16px;
}
.wix{
  color:rgb(208, 0, 14) ;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 100px 60px 10px 0;
}


@media (max-width: 550px){
  body{
    padding: 0;
  }
   .main1 h2{
    font-size: 19px;
   }
   .main1{
    height: 800px;
   }
  .main1 p{
    font-size: 17px;
    width: 340px;
  }
  .img1{
    width:165px ;
    height:200px ;
    left: 30px;
    top: 100px;
  }
  .img2{
    width:90px ;
    height:133px ;
    left: 280px;
    top: 200px;
  }
  .img3{
    width:106px ;
    height:133px ;
    z-index: -10000;
    top: 650px;
    left: 30px;
  }
  .img4{
    width:200px ;
    height:258px ;
    left: 120px;
    top: 600px;
  }
  .main2{
    gap: 70px;
  }
  .main2{
    padding: 40px 20px;
  }

.kdb p{
  width: 350px;
}

   footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 50px ;
    padding-left: 20px;
    padding-bottom: 20px;
  }
  .footerson{
    padding: 0;
    padding-bottom: 15px;
  }
  #foter2 a{
    padding: 0;
  }
  #foter2{
    padding-top: 20px;
    gap: 0;
  }
  .wix{
    padding: 30px 0 20px 20px;
    width: 350px;
  }
  
}